	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	li {
	display: inline;
	}

	a {
	font-size: 42px
	}
	
a:link, a:visited {
    color: blue;
}
a:hover {
    color: pink;
}
	
img{

	  display: block;
  margin-left: auto;
  margin-right: auto;
}

img1{
	float: left;
}	
	
h1 {
	color:white;
	color: orange;
	text-align:center;
	font-size: 55px
}

h2 {
	color:white;
	text-align:center;
	font-family:verdana;
	
}

ul {
	color: orange;
	text-align:center;

}

body{
	background-image: url("Circle.jpg");
}

p {
		color:white;
		text-align:middle;
		font-family:verdana;

}

p1 {
	color:white;
	font-size:40px;
	text-align:middle;
}

p2 {
	color:white;
	font-size:28px;
	font-family:verdana;
	text-align:middle;
	background-color:grey;
}

p3 {
		color:white;
		font-size:21px;
	font-family:verdana;
	text-align:middle;
	background-color:grey;
	
}

p4 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p5 {
		color:white;
		font-size:30px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p6 {
		color:white;
		font-size:21px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p7 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p8 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p9 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p10 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p11 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p12 {
		color:white;
		font-size:22px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p13 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p14 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p15 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p16 {
		color:white;
		font-size:22px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}

p17 {
		color:white;
		font-size:25px;
	font-family:verdana;
	text-align:left;
	background-color:grey;
	
}